@mixin flex($alignItem, $justifyContent, $flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

@mixin centerDiv($left: auto, $right: auto) {
  margin-left: $left;
  margin-right: $right;
}

@mixin center($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

//MEDIA:
@mixin media($device) {
  @if ($device == "phone") {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if ($device == "tablet-potrait") {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if ($device == "desktop") {
    @media (min-width: 75em) {
      //1200px
      @content;
    }
  }
}
