@mixin flex($alignItem, $justifyContent, $flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

@mixin centerDiv($left: auto, $right: auto) {
  margin-left: $left;
  margin-right: $right;
}

@mixin center($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}
