@font-face {
  font-family: PlusJakartaSans;
  src: url(/assets/fonts/static/PlusJakartaSans-Medium.ttf) format("ttf"),
    url(/assets/fonts/static/PlusJakartaSans-Bold.ttf) format("ttf");
}

$font: "Plus Jakarta Sans";
$lime: rgb(215, 218, 47);
$red: rgb(215, 51, 40);
$white: hsl(0, 0%, 100%);
$slate-100: hsl(202, 86%, 94%);
$slate-300: hsl(203, 41%, 72%);
$slate-500: hsl(200, 26%, 54%);
$slate-700: hsl(200, 24%, 40%);
$slate-900: hsl(202, 55%, 16%);
$font-paragraph: 16px;
$font-weights: (
  "regular": 500,
  "bold": 700,
);

$fontclamp-xsm: clamp(0.4823rem, 0.273rem + 1.0462vw, 1.28rem);
$fontclamp-sm: clamp(0.5787rem, 0.3108rem + 1.3394vw, 1.6rem);
$fontclamp-md: clamp(0.6944rem, 0.352rem + 1.7122vw, 2rem);
$fontclamp-lg: clamp(0.8333rem, 0.3962rem + 2.1858vw, 2.5rem);
$fontclamp-xl: clamp(1rem, 0.4426rem + 2.7869vw, 3.125rem);
$fontclamp-2xl: clamp(1.2rem, 0.4902rem + 3.5492vw, 3.9063rem);
