@font-face {
  font-family: PlusJakartaSans;
  src: url(/assets/fonts/static/PlusJakartaSans-Medium.ttf) format("ttf"),
    url(/assets/fonts/static/PlusJakartaSans-Bold.ttf) format("ttf");
}

$font: "Plus Jakarta Sans";
$lime: rgb(215, 218, 47);
$red: rgb(215, 51, 40);
$white: hsl(0, 0%, 100%);
$slate-100: hsl(202, 86%, 94%);
$slate-300: hsl(203, 41%, 72%);
$slate-500: hsl(200, 26%, 54%);
$slate-700: hsl(200, 24%, 40%);
$slate-900: hsl(202, 55%, 16%);
$font-paragraph: 16px;
$font-weights: (
  "regular": 500,
  "bold": 700,
);
