@use "/src/scss/utils/functions" as f;
@use "/src/scss/utils/mixins" as m;
@use "/src/scss/utils/variables" as *;
@use "sass:map";

.form {
  @include m.flex(_, center, column);
  padding-top: f.rem(15);
  gap: f.rem(10);
  width: 100%;
  padding-inline: f.rem(25);
  padding-block: f.rem(20);

  &__title {
    font-size: $fontclamp-2xl;
    font-weight: map.get($font-weights, "bold");
  }
  &--reset {
    color: $slate-500;
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: underline;
    font-size: $fontclamp-xl;
    text-align: left;
    margin-block-end: f.rem(15);
    margin-top: f.rem(-5);
  }
}

//SELECT GROUP STYLE:
.select-form {
  @include m.flex(_, center, column);
  padding-block: f.rem(10);
  gap: f.rem(20);
  position: relative;
}
