@use "/src/scss/utils/functions" as f;
@use "/src/scss/utils/mixins" as m;
@use "/src/scss/utils/variables" as *;
@use "sass:map";

.form {
  @include m.flex(_, center, column);
  padding-top: f.rem(15);
  gap: f.rem(10);
  width: 100%;
  padding-inline: f.rem(25);
  padding-block: f.rem(20);

  &__box {
    @include m.flex(start, space-around, column);
    gap: f.rem(8);

    &--title {
      font-size: $fontclamp-24-32;
      font-weight: map.get($font-weights, "bold");
    }
    &--reset {
      color: $slate-500;
      background-color: transparent;
      outline: none;
      border: none;
      text-decoration: underline;
      font-size: $fontclamp-12-20;
      text-align: left;
      margin-bottom: auto;
    }
  }
}

//SELECT GROUP STYLE:
.select-form {
  @include m.flex(_, center, column);
  padding-block: f.rem(10);
  gap: f.rem(20);
  position: relative;
}
// FIX MEDIA:
.desktop-input {
  @include m.flex(_, center, column);
  gap: f.rem(10);
}

@include m.media("desktop") {
  .form {
    width: 80%;
    min-height: 100dvh;
    margin: 0 auto;

    &__box {
      @include m.flex(center, space-between, row);
      padding-block-end: f.rem(16);

      &--title {
        margin: 0;
      }
      &--reset {
        margin-top: auto;
        cursor: pointer;
      }
    }
  }
  .desktop-input {
    @include m.flex(center, space-between, row);
  }
}
