@use "/src/scss/utils/functions" as f;
@use "/src/scss/utils/variables" as *;
@use "/src/scss/utils/mixins" as m;
@use "sass:map";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.relative {
  @include m.flex(_, _, row);
}

.form__label {
  margin-bottom: f.rem(-5);
  color: $slate-700;
  font-weight: map.get($font-weights, "bold");
}
.form__input.border {
  border: 1px $red solid;
}
.box-input {
  @include m.flex(_, center, column);
  gap: f.rem(8);
}

.form__input {
  padding: f.rem(13) f.rem(8);
  border-radius: f.rem(5) 0 0 f.rem(5);
  border: 1px $slate-700 solid;
  outline: none;
  width: 100%;
  font-family: inherit;
  font-weight: map.get($font-weights, "bold");
  color: $slate-900;

  &:focus {
    border: 1px $lime solid;
  }

  &--value {
    color: $slate-700;
    font-weight: map.get($font-weights, "bold");
    background: $slate-100;
    border-radius: 0 f.rem(5) f.rem(5) 0;
    padding: f.rem(13) f.rem(13);
    transition: all 150ms ease-in;
    margin-left: f.rem(-1);
    border: 1px $slate-700 solid;
    border-left: none;
  }

  &--value.value-error {
    background-color: $red;
    border: 1px $red solid;
    color: $white;
  }
}

.form--error {
  margin-top: f.rem(-5);
  font-size: f.rem(10);
  color: $red;
  font-weight: map.get($font-weights, "regular");
}
.form__input:focus-within ~ .form__input--value {
  background: $lime;
  color: $slate-900;
  border: $lime;
  border-left: none;
  transition: all 150ms ease-in;
}

@include m.media("desktop") {
  .form__input {
  }
}
