@use "/src/scss/utils/functions" as f;
@use "/src/scss/utils/mixins" as m;
@use "/src/scss/utils/variables" as *;

@include m.media("desktop") {
  .app {
    padding: f.rem(50);
  }
  .desktop-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
